<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE}: [%-5p] %c{1} - %m%n"/>
        </Console>
        <!--<RollingFile name="File" fileName="../log/debug.log" filePattern="../log/debug.log.%d{yyyy-MM-dd-HH}.%i.gz">-->
            <!--<PatternLayout pattern="%d{yy-MM-dd HH:mm:ss,SSS} [%t] %-5p: %c{1} %M - %m%n"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="1"/>-->
                <!--<SizeBasedTriggeringPolicy size="20 MB"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <!--<AppenderRef ref="File"/>-->
        </Root>
        <Logger name="org.xblackcat.sjpu.settings" level="trace">
            <!--<AppenderRef ref="Console"/>-->
        </Logger>
    </Loggers>
</Configuration>